---
import { LIGHT_THEME_COLOR } from "@/utils/constant";
import type { siteMeta } from "src/types";
type Props = siteMeta;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {  description, title, ogImage } = Astro.props;
const siteTitle = `${title} • alirezasoh.dev`;
const socialImageURL = new URL(ogImage ? ogImage : "/social_image.jpg", Astro.url.origin).href;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{siteTitle}</title>

<!-- icon/favicon -->
<link rel="icon" href="/favicon.ico" sizes="any" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<link rel="manifest" href="/manifest.webmanifest" />
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />
<meta name="author" content="Alireza Soheili" />
<meta name="theme-color" content={LIGHT_THEME_COLOR} />
<meta name="generator" content={Astro.generator} />

<meta charset="UTF-8">
<!-- Open Graph  -->
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content="alirezasoh.dev" />
<meta property="og:image" content={socialImageURL} />
<meta property="og:image:width" content="1023" />
<meta property="og:image:height" content="630" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImageURL} />



<link rel="sitemap" href="/sitemap-index.xml" />
