---
import { formatReadingTime } from "@/utils/helpers";
import type { CollectionEntry } from "astro:content";
interface Props {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
}

const { post, withDesc = false } = Astro.props;
const { remarkPluginFrontmatter } = await post.render();
const readingTime = remarkPluginFrontmatter.readingTime;
const formatedReadingTime = formatReadingTime(readingTime);
const date = new Date(post.data.publishDate);
const ISODate = date.toISOString();
const formattedDate = date.toLocaleDateString("en-us", {
	day: "numeric",
	month: "short",
	year: "numeric",
});
---

<h1
	transition:name={`post-${post.data.title}`}
	class="text-lg text-accent-2 font-extrabold mb-3 sm:mb-1"
>
	{post.data.title}
</h1>
<div class="flex items-center leading-none gap-1 font-bold">
	<time datetime={ISODate}>{formattedDate}</time>
	<span class="leading-none text-xl font-extralight">|</span>
	<div class="leading-none flex items-center">
		<span class="mr-2 leading-none font-serif">{formatedReadingTime}</span>
		<span class="leading-none">{readingTime}</span>
	</div>
</div>
<p class="mt-1 pb-4 text-slate-600 dark:text-gray-400">{post.data.description}</p>
